#Web{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 20%;
    padding: 5px;
}

body{
    background-color: aqua;
}

.hero{
    background: linear-gradient(90deg, indigo 0%, blueviolet 100%);
}
.Projects{
    background: linear-gradient(90deg, blueviolet 0%, indigo 100%);
}
.Aboutme{
    background: linear-gradient(90deg, indigo 0%, blueviolet 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Footer{
    background: linear-gradient(90deg, blueviolet 0%, indigo 100%);
}

section{
    height: 100vh;
}

#profile-pic{
    display: flex;
    justify-content: center;
}

.hero .container{
    display: flex;
    align-items: center;
}
.hero .container .row{
    width: 100%;
}

#home{
    display: flex
}

#footer-container{
    height: 100%;
    display: grid;
}

#header{
    width: 100%;
}

button {
    border-radius: 5px;
    border-color: white;
    --c:  white; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
        var(--_g) calc(var(--_p,0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p,0%)) 0%,
        var(--_g) calc(var(--_p,0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
button:active {
    box-shadow: 0 0 9e9q inset white; 
    background-color: var(--c);
    color: white;
}

.nav-item{
    margin-right: 10px;
}

a,h1,h2,.fs-4{
    font-family: 'Dela Gothic One', cursive;
}

p,h5{
    font-family: 'Josefin Sans', sans-serif;
}

span{
    font-family: 'Pixelify Sans', cursive;
    font-size: 50px;
    color: white;
}

a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
}


